@import "tailwindcss";


:root {
    --primary-background: linear-gradient(#022d45, #18b0c7);
    --secondary-background: linear-gradient(#18b0c7, #022d45);
}

.main{
    background: var(--primary-background);

}

.btn{
    background: var(--secondary-background);
}